<div class="container">
  <h2>GROUPS</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <% @groups.each do |group| %>
        <tr data-id="<%= group.id %>">
          <td id='group-name'><%= editable group, :name, url: group_path(group.id), value: group.name %></td>
          <td id='group-desc'><%= editable group, :description, url: group_path(group.id), value: group.description %></td>
          <td>
            <%= form_tag(group_path(group.id), method: :delete) do %>
                <i class="fa fa-trash" data-toggle="modal" data-target="#app-del-grp-confirmation"></i>
                <div id="app-del-grp-confirmation" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation</h4>
                      </div>
                      <div class="modal-body">
                        <p>People are assigned to the group <b><%= group.name %></b>, do you want to delete the group anyway..?</p>
                      </div>
                      <div class="modal-footer" id="delete-group-button">
                        <button type="submit" class="btn btn-primary">OK</button>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <button type="button" id='add-group' class="btn btn-info btn-lg" data-toggle="modal" data-target="#group-modal">Add
    Group
  </button>

  <div id="group-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Group</h4>
        </div>
        <div class="modal-body" id="app-add-group-modal-body">

        </div>
      </div>
    </div>
  </div>

</div>