<div class="container">
  <h2>Users Record</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Active</th>
      <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td>
            <%= form_for(user, :url => user_path(user.id),method: :put) do |form| %>
                <%= form.check_box :active , :class => 'submittable_active',:label => "" %>
            <% end %>
          </td>
          <td>
            <%= form_for(user, :url => user_path(user.id),method: :put) do |form| %>
                <%= form.check_box :admin, :class => 'submittable_admin',:label => ""%>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>