<label for="Passage">Passages</label>
<% admin_tabs.each do |method_name, tab_name| %>
		<% class_name = (tab_name.to_s.eql? session[:current_tab]) ? 'active' : '' %>
		<%= content_tag(:li, class: "#{class_name} app-navbar-item") do %>
				<%= link_to(tab_name.to_s.humanize, "#{url_for(action: method_name, controller: :passages)}") %>
		<% end %>
<% end %>
<li class="divider"></li>
<%= content_tag(:li, link_to('Users', users_path), class: 'app-navbar-item') %>
<%= content_tag(:li, link_to('Tags', tags_path), class: 'app-navbar-item') %>
<%= content_tag(:li, link_to('Manual', manual_index_path), class: 'app-navbar-item') %>
