<nav class="navbar navbar-default row">
    <div class="navbar-header col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <%= link_to content_tag(:h3, "Tweetable", class: "navbar-brand"), passages_path %>
    </div>
    <div class="nav navbar-nav  user-emoji col-xs-2 col-sm-2 col-md-2 col-lg-2">

      <%= link_to image_tag(session[:image_url],:class => 'user-circle-icon'), '#', class: 'dropdown-toggle pull-right', 'data-toggle' =>'dropdown' %>

      <ul class="dropdown-menu dropdown-menu-right pull-right" dropdown-toggle="focus">
        <%= content_tag(:li, link_to(session[:user_name], "#")) %>

        <!--TODO check why current_user not available here -->

        <% if User.find_by(auth_id: session[:auth_id]).admin %>
            <%= content_tag(:li, link_to('Users', record_users_path)) %>
        <% end %>

        <%= content_tag(:li, "", class: "divider") %>
        <%= content_tag(:li, link_to("Logout", logout_url)) %>
      </ul>
    </div>
</nav>