<nav class="row" id="navbar_top">
  <div class="navbar-brand">
    <%= link_to content_tag(:h2, 'Tweetable'), passages_path %>
  </div>
  <div class="dropdown pull-right profile_section">
    <%= image_tag(session[:user_image_url], :id => 'user_icon', class: 'dropdown-toggle', 'data-toggle' => 'dropdown') %>
    <ul class="dropdown-menu">
      <%= content_tag(:li, link_to(session[:user_name], '#')) %>

      <%= content_tag(:li) do %>
          <%= link_to(logout_url) do %>
              Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
          <% end %>
      <% end %>
    </ul>
  </div>
</nav>