<div class="col-md-4">
  <% if passage_with_response[:response].tags.empty? %>
      <%= render :partial => "passages/candidate/response_status" %>
  <% else %>
      <%= render :partial => "passages/candidate/tagging_status" , locals: {tags: passage_with_response[:response].tags} %>
  <% end %>
</div>
<div class="col-md-4">
  <span>Attempted by: <%= passage_with_response[:passage].responses.count %> candidates</span>
</div>
<div class="col-md-4">
  <%= button_to 'View all responses', passage_responses_path(passage_with_response[:passage].id), class: 'btn btn-info pull-right', method: :get %>
</div>

<div class="col-md-8" style="color: gray">
  <span>My tweet :   <%= passage_with_response[:response].text %></span>
</div>
