<% passage = passage_with_response[:passage] %>
<% tags = get_all_unreviewed_taggings passage_with_response[:response] %>
<% passage_text = passage.text %>
<div class="panel panel-default">
	<div class="panel-heading app-passage-head">
		<div class="app-passage-header">
			<%= content_tag(:span, passage.title) %>
		</div>
	</div>
	<div class="panel-body">
		<div class="app-content col-sm-9">
			<%= content_tag(:p, :class => "passage passage-#{passage.id} justify") do %>
					<%= passage_text %>
			<% end %>
			<p><strong>Tweet :</strong> <%= passage_with_response[:response].text %></p>
			<%= render :partial => "passages/candidate/tagging_status", locals: {tags: tags} unless tags.empty? %>
			
		</div>
		<div class="app-passage-options">
			<div class="app-passage-info">
				<span class="app-passage-info-item"> <i class="fa fa-users" aria-hidden="true"></i><%= passage.responses.count %> </span>
				<%= render :partial => "passages/candidate/response_status" if tags.empty? %>
			</div>
			<div class="app-passage-actions">
				<%= button_to 'View all responses', passage_responses_path(passage), method: :get, class: 'btn btn-info pull-right'%>
			</div>
		</div>
	</div>
</div>
