<div class="panel panel-default">
	<div class="panel-heading app-passage-head">
		<div class="app-passage-header">
			<%= content_tag(:span, passage.title) %>
		</div>
	</div>
	<div class="panel-body">
		<div class="app-empty-passage app-content col-sm-9">
			<p></p>
			<p></p>
			<p></p>
			<p></p>
		</div>
		<div class="app-passage-options">
			<div class="app-passage-info">
				<%= render :partial => 'passages/admin/duration', locals: {passage: passage} %>
				<%= render :partial => 'passages/admin/concludes', locals: {passage: passage, name: 'Concludes on'} %>
				<span class="app-passage-info-item"> <i class="fa fa-users" aria-hidden="true"></i><%= passage.responses.count %> </span>
			</div>
			<div class="app-passage-actions">
				<%= button_to 'Attempt', new_passage_response_path(passage), method: :get, class: 'btn btn-success pull-right'%>
			</div>
		</div>
	</div>
</div>
