<% passage_text = passage.text %>
<div class="panel panel-default">
	<div class="panel-heading app-passage-head">
		<div class="passage-header">
			<%= content_tag(:span, passage.title) %>
		</div>
	</div>
	<div class="panel-body">
		<div class="content">
			<%= content_tag(:p) do %>
					<%= truncate(passage_text, length: 400, omission: '...') %><%= content_tag(:a, 'See more') if passage_text.length > 400 %>
			<% end %>
		</div>
		<div class="app-passage-options">
			<div class="app-passage-info">
				<span class="app-passage-info-item"> <i class="fa fa-users" aria-hidden="true"></i><%= passage.responses.count %> </span>
			</div>
			<div class="app-passage-actions">
				<%= link_to(content_tag(:button, 'View all responses', class: 'btn btn-info pull-right'), passage_responses_path(passage)) %>
			</div>
		</div>
	</div>
</div>
