<%= form_with(model: response, local: true) do |form| %>
  <% if response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :response_user_id %>
  </div>

  <div class="field">
    <%= form.label :passage_id %>
    <%= form.number_field :passage_id, id: :response_passage_id %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :response_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
