<%= form_for([passage, response], method: 'post', html: {class: 'form-inline text-center'}) do %>
    <div class="pull-left totalChars" >Remaining characters: <span class="count" id="totalChars">140</span></div>
    <div class="form-group mx-sm-3" style="margin-right: 50px">
      <%= hidden_field_tag 'user_id', user.id %>
      <%= text_area_tag 'text', nil, placeholder: 'Tweet here',  maxlength: 140, class: 'form-control', style: 'width: 1000px', id: 'text' %>
    </div>
    <button type="button" class="btn btn-primary response-submission" data-toggle="modal" data-target="#confirmation-dialog_response_<%= passage.id %>">Submit</button>
    <%= link_to "Back", passages_path, {:class => "hidden btn btn-primary back-btn"} %>
    <div class="modal fade bd-example-modal-sm" id="confirmation-dialog_response_<%= passage.id %>" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Your tweet cannot be edited once submitted. Do you confirm...?</p>
          </div>
          <div class="modal-footer">
            <%= submit_tag('Ok', class: 'btn btn-primary response-submission') %>
          </div>
        </div>
      </div>
    </div>
<% end %>