<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12 ">
      <h3 class="passage-heading">
        <%= passage.title %>
      </h3>
      <div  class="app-passage-holder">
        <%= simple_format(passage.text) %>
      </div>
    </div>

  </div>
  <div class="row">
      <div class="app-page-header">
        <h3><%= content_tag('small', responses.count.to_s + ' tweets', class: 'pull-right') %> Tweets </h3>
      </div>

      <ul id="app-response-list" class="app-comments-list">
        <% current_user_res , other_responses  = responses.partition { |response| response.user_id == current_user.id } %>
        <%= render partial, response: current_user_res.first unless current_user_res.blank? %>
        <% other_responses.each do |response| %>
              <%= render partial, response: response %>
        <% end %>
      </ul>
  </div>

</div>
