<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 50px; ">
      <%= content_tag :h3, :class => 'text-left' do %>
          <%= passage.title %>
          <%= content_tag(:span, 'pull-right') do %>
              <h4 class="pull-right remaining_time" >Remaining Time: <span class="count" id="remaining_time"><%= remaining_time %></span></h4>
          <% end %>
      <% end %>
      <div class="passage-holder">
        <%= simple_format(passage.text) %>
      </div>
    </div>
    <%= render 'form', response: response, passage: passage, user: user %>
  </div>
</div>
