<div class="container-fluid container">
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 50px; ">
      <%= content_tag :h3, :class => 'text-left' do %>
          <%= passage.title %>
          <%= content_tag(:span, 'pull-right') do %>
              <h4 class="pull-right remaining_time" >Remaining Time: <span class="count" id="remaining_time">00:00:00</span></h4>
          <% end %>
      <% end %>

      <p class='passage-content' style="border-style: ridge; border-radius: 10px; padding: 10px;">
        <%= passage.text %>
      </p>
    </div>
    <%= render 'form', response: response, passage: passage, user: user %>
  </div>
</div>
