<div class="row app-new-response-container">
	<div id="timeout_alert">
	</div>
	<div class="app-response-timer col-sm-12">
		<img src="/assets/timer.png" alt="">
		<span class="count" id="app-remaining-time"><%= remaining_time %></span>
	</div>
	<div class="app-passage-container col-sm-12">
		<div class="header">
			<%= content_tag :h3 do %>
					<%= passage.title %>
			<% end %>
		</div>
		<div class="app-passage-text">
			<%= simple_format(passage.text) %>
		</div>
		<%= render 'form', response: response, passage: passage, user: user %>
	</div>
	<div class="col-sm-12">
	</div>
</div>
