<p id="notice"><%= notice %></p>

<h1>Tags</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <!--<a href="#" id="username" data-type="text" data-pk="1" data-url="/post" data-title="Enter username">superuser</a>-->

  <tbody>
  <% @tags.each do |tag| %>
      <tr data-id="<%= tag.id %>">
        <td id='tag-name'><%= tag.name %></td>
        <td id='tag-weight'><%= tag.weight %></td>
        <td id='tag-desc'><%= tag.description %></td>

        <td><%= link_to '', edit_tag_path(tag), class: 'fa fa-edit' %></td>
        <td><%= link_to '', tag, method: :delete, class: 'fa fa-trash' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
