<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>

<div class="col-md-12 text-center">
  <% if logged_in? %>
      <%= render :partial => "shared/top_nav_bar" %>
      <%= render 'passages/common/empty_message', :message => 'Content not found!' %>
      <%= content_tag(:a, 'Back', href: '/passages', class: 'btn btn-default',style: 'background: lightgrey') %>
  <% end %>
</div>
