<div class="row" data-tab-name="new_passages">
	<div class="app-new-passage-container col-lg-11 app-md-card center-block">
		<%= bootstrap_form_for(@passage) do |form| %>
				<%= form.text_field :title, :class => "col-10 form-control", :required => true %>
				<%= form.text_area :text, :class => "col-10 form-control passage_area", :required => true, rows: 8 %>
				<span class="timeline">
			<span class="app-duration-limit">
          <%= form.text_field :duration, :class => "form-control", :id => "duration" %>
			</span>
			<span class="app-commence-time">
        <%= form.datetime_local_field :commence_time, :class => "col-10 form-control" %>
			</span>
			<span class="app-conclude-time">
       <%= form.datetime_local_field :conclude_time, :class => "col-10 form-control" %>
			</span>
				</span>
				<span class="app-passage-actions pull-right">
					<%= link_to "Cancel", drafts_passages_path, {:class => "btn btn-danger cancel_edit"} %>
					<%= form.submit "Save", :class => "btn btn-success padding-bottom" %>
				</span>
		<% end %>
		<%= javascript_tag "$('#duration').durationPicker({showDays: false});" %>
	</div>
</div>
