<div class="panel panel-default">
	<div class="panel-heading app-passage-head">
		<div class="app-passage-header">
			<%= content_tag(:span, passage.title) %>
		</div>
		<div class="app-passage-actions">
			<a href="<%= edit_passage_path(passage.id) %>" class="fa fa-edit"></a>
			<%= form_tag(passage_path(passage.id), :method => :delete, :class => 'internal') do %>
					<button type="submit" class="fa fa-trash pull-right button_with_delete_icon"></button>
			<% end %>
		</div>
	</div>
	<div class="panel-body">
		<%= render :partial => 'passages/common/content', locals: {passage: passage} %>
		<div class="app-passage-options">
			<div class="app-passage-info">
				<%= render :partial => 'passages/admin/duration', locals: {passage: passage} %>
				<%= render :partial => 'passages/admin/commences', locals: {passage: passage, name: 'Commences on'} %>
				<%= render :partial => 'passages/admin/concludes', locals: {passage: passage, name: 'Concludes on'} %>
			</div>
			<div class="app-passage-actions">
				<a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#app-commence-confirmation-<%= passage.id %>">Commence</a>
			</div>
		</div>
	</div>
</div>


<div class="modal fade bd-example-modal-sm" id="app-commence-confirmation-<%= passage.id %>" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Confirmation</h4>
			</div>
			<%= bootstrap_form_for(passage, :url => commence_passage_path(passage.id), method: :put) do |form| %>
					<div class="modal-body">
						<%= form.datetime_field :conclude_time, :class => "col-10 form-control", :value => (Time.current+2.days).strftime("%Y-%m-%dT%H:%M"), required: true %>
						<p>The passage will be open for candidates right now. Check the closing date and click on OK to
							continue...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
						<%= submit_tag('Ok', class: 'btn btn-success') %>
					</div>
			<% end %>
		</div>
	</div>
</div>