
<div class="thumbnail passage">
	<div class="header">
		<div class="title header_component">
			<%= content_tag(:span, passage.title, class: 'pull-left heading') %>
		</div>
	</div>
		<div class="timeline header_component ">
			<%= render :partial => 'passages/admin/concludes', locals: {passage: passage, name: 'Concluded on'} %>
		</div>
	<%= render :partial => 'passages/admin/content', locals: {passage: passage} %>
	<div class="more_options">
		<span>Attempted by: <%= passage.responses.count %> candidates</span>
		<span>Evaluated: <%= evaluation_count(passage.responses) %> responses</span>
		<%= content_tag(:a, 'Review', href: passage_responses_path(passage.id), class: 'btn btn-info pull-right') %>
	</div>
</div>