
<div class="panel panel-default">
	<div class="panel-heading app-passage-head">
		<div class="passage-header">
			<%= content_tag(:span, passage.title) %>
		</div>
	</div>
	<div class="panel-body">
		<%= render :partial => 'passages/admin/content', locals: {passage: passage} %>
		<div class="app-passage-options">
			<div class="app-passage-info">
				<%= render :partial => 'passages/admin/duration', locals: {passage: passage} %>
				<%= render :partial => 'passages/admin/commences', locals: {passage: passage, name: 'Commences on'} %>
				<%= render :partial => 'passages/admin/concludes', locals: {passage: passage, name: 'Concludes on'} %>
				<% count = passage.responses.count %>
				<span class="app-passage-info-item"> <i class="fa fa-users" aria-hidden="true"></i><%= passage.responses.count %> </span>
			</div>
			<div class="app-passage-actions">
				<%= content_tag(:a, 'Conclude', href: conclude_passage_path(passage.id), class: 'btn btn-danger pull-right') %>
				<%= content_tag(:a, 'Review', href: passage_responses_path(passage.id), class: 'btn btn-info pull-right') %>
			</div>
		</div>
	</div>
</div>