<div class="col-md-3">
  <span>Attempted by: <%= passage.responses.count %> candidates</span>
</div>
<div class="col-md-3">
  <span>Commenced on: <%= to_preferred_time_format(passage.commence_time) %></span>
</div>
<div class="col-md-3">
  <span>Concluding on: <%= to_preferred_time_format(passage.conclude_time) %></span>
</div>
<div class="col-md-3 passage_action_buttons">
  <%= button_to 'Review', passage_responses_path(passage.id), class: 'btn btn-info pull-left', method: :get %>
  <i data-url=<%= conclude_passage_path(passage.id) %>>
    <button type="button" class="btn btn-danger pull-right">
      Conclude
    </button>
  </i>
</div>